#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* me */

.div-main {
  background: rgb(78, 13, 109);
  padding: 2%;
}

.header {
  display: inline;
  background: rgb(134, 24, 185);
  width: 100%;
  float: left;
  /* margin: 10px 0; */
  position: relative;
}

.nav {
  width: 20%;
  float: left;
  font-size: x-large;
  padding: 2%;
}

.divider {
  background: rgb(78, 13, 109);
  /* height: 50px; */
  margin: 120px;
}

.nav, 
.article {
  padding: 2%;
  background: rgb(134, 24, 185);
}

.nav.active {
  text-decoration: underline;
  /* border-bottom-width: 2px; */
  /* padding: 10px; */
  /* transition: all color 1s; */
  /* background-color: white; */
  /* background: green; */
}

h1, 
p {
  color: white;
  font-size: larger;
  text-align: left;
}